extends ../layouts/base

block content
  .container
    h1 Register

    if errors && errors.length
      ul.form-errors
        each e in errors
          li #{e.msg}

    form(method="post" action="/auth/register")
      .form-group
        label(for="username") Username
        input#username(type="text" name="username" value=(values && values.username) class="form-control")

      .form-group
        label(for="email") Email
        input#email(type="email" name="email" value=(values && values.email) class="form-control")

      .form-group
        label(for="password") Password
        input#password(type="password" name="password" class="form-control")

      .form-group
        label(for="confirmPassword") Confirm Password
        input#confirmPassword(type="password" name="confirmPassword" class="form-control")

      button(type="submit" class="button") Register
